<h4>Configuration for Raspberry Pi</h4>

<form class="form-horizontal">This plugin only works on Raspberry Pi (1 to 3). Before use make sure you have a DS18b20 sensor connected to Pin n°4 as explained on the README.md file. This plugin was tested on OctoPrint v1.3.1 only.
    <div class="control-group">
        <label class="control-label" for="settings-roomtemp-display"></label>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.displayRoomTemp"> Display room temperature
            </label>
        </div>
    </div>
</form>